html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  font-size: $font-sm;
  font-weight: 300;
  color: $grayishBlue;
  line-height: 1.3;
  overflow-x: hidden;

  @include breakpoint-up(large){
    font-size: $font-med;
  }

  &.noscroll {
    overflow: hidden;
  }
}
h1, h2, h3 {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.15;
  color: $darkBlue;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;

  @include breakpoint-up(large){
      font-size: $font-xlg;
  }
}

h2{
  @include breakpoint-up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
  
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// booking buttons

.bookbutton {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: $peachSorbet;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: $white;
  font-weight: 700;
  transition: opacity 300ms ease-in-out;
  position: relative;
  overflow: hidden;
  font-size: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  &:hover::before {
    opacity: 1;
  }
}

// spacing

.container {
  max-width: 69.375rem;
  margin: 0 auto;

  &--pall {
    padding-top: 4.375rem;
    padding-right: 1.5rem;
    padding-bottom: 4.375rem;
    padding-left: 1.5rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  &--py {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
  
  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  &--pt {
    padding-top: 4.375rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      
    }
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 2.25rem;
    @include breakpoint-up(large) {
      
      padding-bottom: 6rem;
    }
  }
  &--pl {
    padding-left: 1.5rem;
  }
}

//flexy
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// buttons

button,
.button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: $peachSorbet;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: $white;
  font-weight: 700;
  transition: opacity 300ms ease-in-out;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  &:hover::before {
    opacity: 1;
  }
}

// visibility

.hide-for-mobile {
  // hides in tablets and phones
  @include breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  // hide for desktop
  @include breakpoint-up(large) {
    display: none;
  }
}

// form page assets

.booking {
  width: 80%;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;  
  }
 .booking .heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
.booking .form-container{
  display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;  
}
.booking .form-field{
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
  
}
.booking .label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 150px;        
}
.booking .input-field {
  flex: 1;
  padding: 5px;
  border: 2px solid #ccc;
  outline: none;
}

.booking .submit-button {
  background-color: #eb4c6c;
  display: block;
  margin: auto; /* Center the button */
  padding: 10px;    
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
}

// Search bar properties

.searching {
  padding: 20px;
  background-color: $lightGrayishBlue;
}

.searching .form-container {
  display: flex;
}

.searching .form-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.searching .label {
  display: block;
  font-weight: bold;
  width: 70px;
}

.searching .input-field {
  padding: 5px;
  outline: none;
}

.searching .submit-button {
  background-color: #eb4c6c;
  display: block;
  margin: 10px;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

//Hiding elements

.hide {
  display: none;
}